* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	overflow: hidden;
}

#noJs, #lowResolution {
	position: fixed;
	left: 0;
	top: 0;
	display: table;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background-color: white;
}

#noJs > *, #lowResolution > * {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#noJs p, #lowResolution p {
	max-width: 30em;
	margin: auto;
}

#widgets {
	display: none;
}

#appContainer {
	height: 100%;
	visibility: hidden;
}

#sessionPanel {
	float: left;
}

#timerPanel {
	float: left;
}

#exitPanel {
	float: right;
}

#productName {
	float: left;
}

#productVersionDetails {
	float: right;
}

#lecturerPanel, #audiencePanel {
	width: 49%;
	padding: 0;
}

#lecturerAnswersPanel, #audienceFeedbackPanel {
	overflow-x: hidden;
}
